#burger-menu {
    width: 30px;
    height: 30px;
    // border: 2px solid red;
    margin: 0 0 2px;
    position: relative;
    display: inline-block;
    z-index: 10;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.burger-menu:hover {
    cursor: pointer;
}

nav ul {
    list-style: none;
}

.bar {
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    opacity: 1;
    left: 0;
    background: black;
    background: $green;
    border-radius: 25%;
    transform-origin: 4px 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

.bar-one {
    top: 4px;
}

.bar-two, .bar-three {
    top: 10px;
}

.bar-four {
    top: 16px;
}

#burger-menu.open .bar-one {
    top: 5px;
    width: 0%;
    left: 50%;
}

#burger-menu.open .bar-two {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform-origin: center;
}
#burger-menu.open .bar-three {
     -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform-origin: center;
}

#burger-menu.open .bar-four {
    top: 5px;
    width: 0%;
    left: 50%;
}

// SLIDE NAV

#slide-nav {
    height: 100%;
    width: 200px;
    position: absolute;
    //  position: fixed;
    // background: rgba(0, 0, 0, 0.8);
    // background: darkorange;
    // background: $green;
    background: #97A7A9;
    // background: blue;
    color: white;
    transform: translateX(-200px);
    transition: 0.25s ease-in-out all;
    padding: 40px;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#slide-nav a {
    color: white;
    // color: $gold;
    font-weight: bold;;
}

#slide-nav ul {
    // border: 2px solid red;
    // height: 220px;
    display: inline-block;
    // position: sticky;
    // top: 20%;
}

#slide-nav li {
    margin-top: 30px;
}

// #slide-nav.slide {
//     transform: translateX(0px);
// }

#body.slide {
    transform: translateX(200px);
}
header {
    // display: flex;
    // align-items: center;
    height: 60px;
    // border: 2px solid pink;
    padding: 0 10px;
    position: relative;
    // position: fixed;
}
.header-logo img {
    width: 100%;
    height: auto;
    // border: 2px solid green;
}

.header-logo {
    // border: 2px solid red;
    width: 100px;
    height: 100%;
    display: inline-block;
    padding-top: 10px;
    // margin: 0 auto;
    margin-left: 50%;
    transform: translateX(calc(-50% - 40px));
}

// MAIN NAV
#main-nav li {
    display: inline-block;
}

#main-nav {
    display: none;
}
#main-nav a {
    color: black;
}
#main-nav ul {
    margin: 0 auto;
    // border: 2px solid blue;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.nav-social {
    // border: 2px solid purple;
    width: 40px;
    // width: 100px;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: absolute;
    right: 10px;
    // color: darkorange;
    color: $gold;
    color: $green;
    font-size: 1.2rem;
}


@media (min-width: 768px) {
    #burger-menu {
        display: none;
        position: absolute;
    }
    #main-nav {
        display: inline-block;
        width: calc(100% - 200px);
        // top: 0;
        // margin: 0 auto;
        // border: 2px solid red;
        height: 100%;
        position: absolute;
        padding-top: 1rem;
        // height: 100px;
    }
    .nav-social {
        width: 100px;
        justify-content: space-around;
        font-size: 1.5rem;
    }
    .header-logo {
    margin-left: 0;
    transform: translateX(0);
    }
  #body.slide {
    transform: translateX(0px);
}
}
