.services-hero {
    height: 30vh;
    // background-image: url('../../images/paradise.jpg');
    background-image: url('../../images/pink-background.jpeg');
    background-size: cover;
    background-position: 0% 50%;
}

.services {
    width: 100%;
}

.services img {
    width: 100%;
    height: auto;
}