$green: #4f6e72;
$lightgreen: #97A7A9;
$gold: #c2a017;

.green {
    color: $green;
}

.lightgreen {
    color: $lightgreen;
}

.gold {
    color: $gold;
}

.display {
    font-family: 'Comfortaa', cursive;
}